<!DOCTYPE html>
<html lang="en">
<head>
   <style>
    ul{
        list-style: none;
        margin:0px;
        padding:0px;
        width:auto;
    }
    ul li{
        float:left;
        margin-top:10px;
        padding:10px;
        border-style: solid;
        border:1px solid;
    }
</style>
    <meta charset="UTF-8">
    <title>Product</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'easyui/themes/icon.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'easyui/themes/default/easyui.css' %}">
    <script type="text/javascript" src="{% static 'easyui/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'easyui/jquery.easyui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'easyui/locale/easyui-lang-zh_CN.js' %}"></script>
{#        <link type="text/css" rel="stylesheet" href="static/easyui/themes/icon.css">#}
{#       "GET /easyui/static/easyui/themes/icon.css HTTP/1.1" 404 77 #}

<!--<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">-->
<!--<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">-->
<!--<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">-->
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>-->
<!--<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>-->
<script>
    function fn1(){
        var obj={"goods_sn":"1","name":"1","key":"1","priority":"1","file_address":"1"}
        $("#fm").form("load",obj);

    }

    function fn2(){

        $("#fm").form("clear");
    }

    function fn3(){
        $('#fm').form('submit', {
            <!--url:"/api/v1/goods/",-->
            onSubmit: function(){
                // do some check
                // return false to prevent submit;
                // return false; //就会不让提交
            },
            success:function(data){
                $.messager.alert('Info', data, 'info');  //已经加载代码以页面格式显示
                // 成功之后,返回的数据
                <!--alert(data)-->  // 网页代码
            }
        });

    }

function doUpload(){
    var formData = new FormData($("#ajaxfm")[0]);
    $.ajax({
        url:"/api/v1/goods/",
        type:"POST",
        data:formData,
        async:false,
        cache:false,
        contentType:false,
        processData:false,
        success: function (data) {
            $.messager.alert('Info', data, 'info');  // data为对象
          },
        error: function (data) {
            console.log(data);
        },
    });
}


$(function(){
//ajax提交信息,这种方式上传文件有问题
    $("#ajaxfm").submit(function(e){
        <!--e.preventDefault();-->
        alert('jj')
        <!--var form = new FormData(document.getElementById("ajaxfm"));-->
        <!--var form = new FormData($("#ajaxfm")[0]);-->
        $.ajax({
            async: false,
            type: "POST",
            url:'/api/v1/goods/',
            <!--data:form,-->
            data:$("#ajaxfm").serialize(),
            contentType : "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "text",
            success: function (data) {
                $.messager.alert('Info', data, 'info');  // data为对象
              },
            error: function (data) {
                <!--alert(data)-->
                console.log(data);
                $.messager.alert('Info', data, 'info');  // data为对象
            },
        });
    });
    <!--$('#fm').bind('submit', function(){-->
        <!--ajaxSubmit(this, function(data){-->
            <!--alert(data);-->
        <!--});-->
        <!--return false;-->
    <!--});-->


});
</script>
</head>

<body class="easyui-layout" style="font-size:14px;">

    <button onclick="fn1()">加载数据</button>
    <button onclick="fn2()">清除数据</button>
    <button onclick="fn3()">发送数据</button>
    <form id="fm" class="easyui-form" method="post" action="/api/v1/goods/" enctype="multipart/form-data" >
        goods_sn:<input type="text" name="goods_sn"/></br>
        name:<input type="text" name="name"/></br>
        key:<input type="text" name="key"/></br>
        priority:<input type="text" name="priority"/></br>
        file_address:<input type="text" name="file_address"/></br>
        image:<input class="easyui-filebox" style="width:300px" name="image">

    </form>
    <h1>ajax1</h1>
    <form id="ajaxfm" class="easyui-form"  enctype="multipart/form-data" >
        {% csrf_token %}
        goods_sn:<input type="text" name="goods_sn"/></br>
        name:<input type="text" name="name"/></br>
        key:<input type="text" name="key"/></br>
        priority:<input type="text" name="priority"/></br>
        file_address:<input type="text" name="file_address"/></br>
        image:<input class="easyui-filebox" style="width:300px" name="image">
        <input type="button" value="上传" onclick="doUpload()">
        <input type="submit" value="提交,仅仅是为了测试" />


    </form>
{#    {% load url %}#}
{#https://stackoverflow.com/questions/901551/how-do-i-include-image-files-in-django-templates#}
{#    {% load url from future %}#}
{#    <div style="padding:5px;background:#fafafa;width:200px;border:1px solid #ccc;margin-left: 10px">#}
{#        <a href="{{ host }}/api/v1/" class="easyui-linkbutton" data-options="iconCls:'icon-back'">返回首页</a>#}
{#    </div>#}
    <div style="margin-left:10px;">
    <table id="dg" class="easyui-datagrid" title="产品展示页面" style="width:1000px;height:560px"
            data-options="singleSelect:true,collapsible:true">
        <thead>
            <tr>
                <th field="goods_SN" width="110px">商品唯一序列号</th>
                <th field="Name" width="100px">商品名</th>
                <th field="Key" width="80px">商品关键字</th>
                <!--<th field="Image" width="200px">图片</th>-->
                <th field="Download_Image" width="200px">图片下载</th>
                <th field="priority" width="50px">优先级</th>
                <th field="file_address" width="100px">本地文件地址</th>
{#                <th field="file_address" width="400px">文件地址</th>#}
            </tr>
        </thead>
        <tbody>
        {% for data in data_list %}
            <tr>
                <td width="50px">{{ data.goods_sn }}</td>
                <td width="100px">{{ data.name }}</td>
                <td width="100px">{{ data.key }}</td>
                <!--<td width="400px" height="400px" ><img src={{ data.image.url }} ></td>-->
                <td width="400px">
                    <a href="{{ data.image.url }}" download="download">download image</a>
                </td>
                <td width="400px">{{ data.priority }}</td>
                <td width="400px">
{#                    {% block content %}#}
                        <a href="{{data.image.path}}" target="_blank">click here</a>
{#                    {% endblock content %}#}
                </td>
{#                <td width="400px"><img src={{ request.build_absolute_uri }} ></td>#}
            </tr>
        {% endfor %}
        </tbody>

    </table>
    </div>
    <div style="margin-left:10px;">
        <ul class="pagination">
            {% if page_object.has_previous %}
                <li>
                <a href="?page={{ page_object.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
            {% endif %}

           {% for pg in page_object.paginator.page_range %}
            {% if page_object.number == pg %}
            <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
            {% else %}
            <li><a href="?page={{ pg }}">{{ pg }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_object.has_next %}
                <li>
                    <a href="?page={{ page_object.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            {% endif %}
        </ul>
    </div>
</body>
</html>
