<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Document</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'easyui/themes/icon.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'easyui/themes/default/easyui.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/custom.css' %}">
    <script type="text/javascript" src="{% static 'easyui/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'easyui/jquery.easyui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'easyui/locale/easyui-lang-zh_CN.js' %}"></script>
    <script type="text/javascript" src="{% static 'easyui/custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>


{#    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
{#    <script src="http://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>#}
{#    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}


    <script>

        function getCookie(c_name){
            if (document.cookie.length > 0){
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1)
                {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    {#alert(unescape(document.cookie.substring(c_start,c_end)))#}
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
        }

        $(function(){
            $.ajaxSetup({
                headers: { "X-CSRFToken": getCookie("csrftoken"),"csrftoken": getCookie("csrftoken") },
            });
            $("#btnSubmit").click(function(){
                {#$("#box").submit();#}
                $('#box').submit(
                    function(data){
                        {#var data = $(this).serialize();    //序列化表单#}
                        {#console.log(data);                 //打印表单数据#}
                        console.log(data)
                        if (data.success){
                            alert(data.message)
                        }
                    }
                );
            })

        });
    </script>

</head>
<body>
    <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="modal" data-target="#register" href=""><span class="glyphicon glyphicon-user"></span> 注册</a></li>
        <li><a data-toggle="modal" data-target="#login" href=""><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
    </ul>
    {% if request.user.is_authenticated %}
        <div style="margin-left:10px;">
            <div id="tool">
                <a id="btnAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
                <a id="btnDelete" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
                <a id="btnEdit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">编辑</a>
                <input id="tb" type="text" style="width:300px">
            </div>
            <table id="dg"></table>
            <div id="dd" style="display:none">
                <div style="width:250px; margin:auto;">
                    <form id="ajaxfm" class="easyui-form" enctype="multipart/form-data">
                        <p>goods_sn:<input class="easyui-textbox" id="goods_sn" name="goods_sn"/></p>
                        <p>name:<input class="easyui-textbox" id="name" name="name"/></p>
                        <p>key:<input class="easyui-textbox" id="key" name="key"/></p>
                        <p>priority:<input class="easyui-textbox" id="priority" name="priority"/></p>
                        <p>file_address:<input class="easyui-textbox" id="file_address" name="file_address"/></p>
                        <p>image:<input class="easyui-filebox" id="image" name="image"></p>
                        <a id="btn-add" type="button" class="easyui-linkbutton" data-options="iconCls:'icon-save'"
                           onclick="doUpload()">确定添加上传</a>
                        <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">编辑保存</a>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- 注册窗口 -->
    <div id="register" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">注册</h1>
                </div>
                <div class="modal-body">
                    <form class="form-group" action="/api/v1/users/?next=/index/" method="post">
                       {% csrf_token %}
                            <div class="form-group">
                                <label for="">用户名</label>
                                <input class="form-control" name="username" type="text" placeholder="6-15位字母或数字">
                            </div>
                            <div class="form-group">
                                <label for="">密码</label>
                                <input class="form-control" name="password" type="password" placeholder="至少6位字母或数字">
                            </div>
{#                            <div class="form-group">#}
{#                                <label for="">再次输入密码</label>#}
{#                                <input class="form-control" type="password" placeholder="至少6位字母或数字">#}
{#                            </div>#}
                            <div class="form-group">
                                <label for="">邮箱</label>
                                <input class="form-control " name="email" type="email" >
                            </div>
                            <div class="form-group">
                                <label for="">手机号</label>
                                <input class="form-control" name="mobile" type="mobile">
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" type="submit">提交</button>
                                <button class="btn btn-danger" data-dismiss="modal">取消</button>
                            </div>
                            <a href="" data-toggle="modal" data-dismiss="modal" data-target="#login">已有账号？点我登录</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 登录窗口 -->
    <div id="login" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">登录</h1>
                </div>
                <div class="modal-body">
{#                    <form class="form-group" action="/api-auth/login/" method="post">#}
                    <iframe src="" frameborder="0" name="iframeContent" style="display: none;"></iframe>
                    <form id='box' class="form-group" method="post" action="/api-auth/login/" >
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="">用户名</label>
                                <input id="login-username" class="form-control" type="text" name="username" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">密码</label>
                                <input id="login-password" class="form-control" type="password" name="password" placeholder="">
                            </div>
                            <div class="text-right">
                                <button id='btnSubmit' class="btn btn-primary" type="submit" >登录</button>
                                <button class="btn btn-danger" data-dismiss="modal">取消</button>
                            </div>
                            <a href="" data-toggle="modal" data-dismiss="modal" data-target="#register">还没有账号？点我注册</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


