<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Document</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'easyui/themes/icon.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'easyui/themes/default/easyui.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/custom.css' %}">
    <script type="text/javascript" src="{% static 'easyui/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'easyui/jquery.easyui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'easyui/locale/easyui-lang-zh_CN.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>


{#    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
{#    <script src="http://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>#}
{#    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}



</head>
<body>
    <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="modal" data-target="#register" href=""><span class="glyphicon glyphicon-user"></span> 注册</a></li>
        <li><a data-toggle="modal" data-target="#login" href=""><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
    </ul>
    <h1>successs</h1>
    {% if user.is_authenticated %}
        <h>Your warranty information will be included in the packaging.</h>
    {% endif %}
    <!-- 注册窗口 -->
    <div id="register" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">注册</h1>
                </div>
                <div class="modal-body">
                    <form class="form-group" action="/api/v1/users/?next=/index/" method="post">
                       {% csrf_token %}
                            <div class="form-group">
                                <label for="">用户名</label>
                                <input class="form-control" name="username" type="text" placeholder="6-15位字母或数字">
                            </div>
                            <div class="form-group">
                                <label for="">密码</label>
                                <input class="form-control" name="password" type="password" placeholder="至少6位字母或数字">
                            </div>
{#                            <div class="form-group">#}
{#                                <label for="">再次输入密码</label>#}
{#                                <input class="form-control" type="password" placeholder="至少6位字母或数字">#}
{#                            </div>#}
                            <div class="form-group">
                                <label for="">邮箱</label>
                                <input class="form-control " name="email" type="email" >
                            </div>
                            <div class="form-group">
                                <label for="">手机号</label>
                                <input class="form-control" name="mobile" type="mobile">
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" type="submit">提交</button>
                                <button class="btn btn-danger" data-dismiss="modal">取消</button>
                            </div>
                            <a href="" data-toggle="modal" data-dismiss="modal" data-target="#login">已有账号？点我登录</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 登录窗口 -->
    <div id="login" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">登录</h1>
                </div>
                <div class="modal-body">
{#                    <form class="form-group" action="/api-auth/login/" method="post">#}
                    <iframe src="" frameborder="0" name="iframeContent" style="display: none;"></iframe>
                    <form id='login-form' class="form-group" method="post" action="/login/">
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="">用户名</label>
                                <input id="login-username" class="form-control" type="text" name="username" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">密码</label>
                                <input id="login-password" class="form-control" type="password" name="password" placeholder="">
                            </div>
                            <div class="text-right">
                                <button id='login-submit' class="btn btn-primary" type="submit" >登录</button>
                                <button class="btn btn-danger" data-dismiss="modal">取消</button>
                            </div>
                            <a href="" data-toggle="modal" data-dismiss="modal" data-target="#register">还没有账号？点我注册</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


<script>
   $(document).ready(function(){
              $.ajaxSetup({
                   data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
              });
             $('#login-form').submit(function(){
                 var user = $('#login-username').val();
                 var password = $('#login-password').val();
                 alert(password);

                  $.ajax({
                      type:"POST",
                      data: {uaeranme:user,password:password},
                      url: "http://127.0.0.1:8000/login/", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致,或者直接写http地址
                      cache: false,
                      dataType: "html",
                      success: function(ret){<span style="font-family: Roboto, Helvetica, Arial, sans-serif;">//成功时弹出view传回来的结果即后端处理函数中HttpResponse的返回值</span>
                         $('#sql_output').html(ret)
                         // var content= $("#sqlinput");
                         // $('#sql_output').append(content.val());

                     },
                     error: function(){
                         alert("false");
                     }
                 });
                 return false;
             });

         });
</script>
